.input-side {
    width: 400px;
    position: absolute;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    font-size: 20px;
    font-weight: bold;
}

.clear-btn button {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.amount {
    margin-top: 40px;
}

.amount .input {
    position: relative;
}

.amount .input input {
    border: 1px solid #000;
    border-left: none;
    width: 90%;
    height: 30px;
    margin: 30px;
    cursor: pointer;
    padding-left: 35px; 
}

.amount .input input:focus {
    border: 1px solid rgb(179, 179, 55);
    border-left: none;
}

.amount .input span {
    position: absolute;
    border: 1px solid #000;
    border-right: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: rgb(170, 246, 246);
    top: 30px;
    left: 30px; /* input'un sol kenarından doğru konumlandır */
}

.amount .input input:focus + span {
    background-color: rgb(179, 179, 55);
    border: 1px solid rgb(179, 179, 55);
    border-right: none;
}
